---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import MailSearch from "../icons/MailSearch.astro";
import Experience from "../components/Experience.astro";
import ContainerSection from "../components/ContainerSection.astro";
import Briefcase from "../icons/Briefcase.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portfolio de Óscar Esteve - Desarrollador y Programador Web"
  description="Contrata a Óscar Esteve para crear tu aplicacion web o móvil"
>
  <main>
    <ContainerSection class="mt-44">
      <img
        src="/src/assets/oscaresteve.png"
        alt="oscar photo"
        class="rounded-full size-20 mb-6"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-6">
        Hey, soy Óscar <a
          href="https://linkedin.com/in/oscaresteve"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
          ><span class="bg-white/10 text-xs font-medium px-1.5 py-0.5 rounded"
            >Disponibe para trabajar</span
          >
        </a>
      </h1>
      <h2 class="text-2xl text-wrap">
        Desarrollador de Aplicaciones <span class="text-blue-200">Web</span> y <span
          class="text-blue-200">Multiplataforma</span
        >. De Valencia, España.
      </h2>

      <nav class="flex gap-x-2 mt-10">
        <SocialPill href="https://linkedin.com/in/oscaresteve">
          <LinkedIn class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/oscaresteve">
          <GitHub class="size-4" />
          GitHub
        </SocialPill>
        <SocialPill href="https://github.com/oscaresteve">
          <MailSearch class="size-4" />
          oscarestevea24@gmail.com
        </SocialPill>
      </nav>
    </ContainerSection>
    <ContainerSection class="mt-22">
      <h2 class="text-2xl font-semibold mb-6 flex gap-x-3 items-center">
        <Briefcase class="size-6" />
        Experincia laboral
      </h2>
      <Experience />
    </ContainerSection>
  </main>
</Layout>
