---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import MailSearch from "../icons/MailSearch.astro";
import Experience from "../components/Experience.astro";
import ContainerSection from "../components/ContainerSection.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";
import User from "../icons/User.astro";
import About from "../components/About.astro";
import { Image } from "astro:assets";
import oscaresteve from "../assets/oscaresteve.webp";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portfolio de Óscar Esteve - Desarrollador y Programador Web"
  description="Contrata a Óscar Esteve para crear tu aplicación web o móvil"
>
  <main>
    <ContainerSection class="mt-20">
      <Image src={oscaresteve} alt="Foto de Óscar" class="rounded-full size-20 mb-6" />
      <article class="prose">
        <h1 class="text-5xl text-white">
          Hey, soy <span class="text-blue-300"> Óscar</span>
        </h1>
        <p class="text-2xl text-pretty text-white/90">
          Desarrollador de Aplicaciones
          <span class="text-blue-300">Web</span> y Multiplataforma de Valencia, España. Especializado en
          <span class="text-blue-300">frontend</span>
          y diseño de interfaces limpias e intuitivas.
        </p>
      </article>

      <nav class="flex flex-wrap gap-2 mt-8">
        <SocialPill href="https://linkedin.com/in/oscaresteve">
          <LinkedIn class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/oscaresteve">
          <GitHub class="size-4" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:oscarestevea24@gmail.com">
          <MailSearch class="size-4" />
          oscarestevea24@gmail.com
        </SocialPill>
      </nav>
    </ContainerSection>

    <ContainerSection id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
        <Code class="size-8" />
        Proyectos
      </h2>
      <Projects />
    </ContainerSection>

    <ContainerSection id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
        <Briefcase class="size-8" />
        Experiencia
      </h2>
      <Experience />
    </ContainerSection>

    <ContainerSection id="sobre-mi">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
        <User class="size-8" />
        Sobre mí
      </h2>
      <About />
    </ContainerSection>
  </main>
</Layout>
