---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
import MailSearch from "../icons/MailSearch.astro";
import Experience from "../components/Experience.astro";
import ContainerSection from "../components/ContainerSection.astro";
import Briefcase from "../icons/Briefcase.astro";
import Code from "../icons/Code.astro";
import Projects from "../components/Projects.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout
  title="Portfolio de Óscar Esteve - Desarrollador y Programador Web"
  description="Contrata a Óscar Esteve para crear tu aplicacion web o móvil"
>
  <main>
    <ContainerSection class="mt-20">
      <img
        src="/src/assets/oscaresteve.webp"
        alt="oscar photo"
        class="rounded-full size-20 mb-6"
      />
      <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-6">
        Hey, soy <span class="text-blue-200">Óscar</span>
      </h1>
      <h2 class="text-2xl text-pretty text-white/80">
        Desarrollador de Aplicaciones
        <span class="text-blue-300">Web</span> y
        <span class="text-blue-300">Multiplataforma</span>
        de Valencia, España. Especializado en
        <span class="text-blue-300">frontend</span>
        y diseño de interfaces
        <span class="text-blue-300">limpias</span> e
        <span class="text-blue-300">intuitivas</span>.
      </h2>

      <nav class="flex gap-x-2 mt-6">
        <SocialPill href="https://linkedin.com/in/oscaresteve">
          <LinkedIn class="size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/oscaresteve">
          <GitHub class="size-4" />
          GitHub
        </SocialPill>
        <SocialPill href="https://github.com/oscaresteve">
          <MailSearch class="size-4" />
          oscarestevea24@gmail.com
        </SocialPill>
      </nav>
    </ContainerSection>

    <ContainerSection id="experiencia">
      <h2
        id="experiencia"
        class="text-3xl font-semibold mb-6 flex gap-x-4 items-center"
      >
        <Briefcase class="size-8" />
        Experincia laboral
      </h2>
      <Experience />
    </ContainerSection>

    <ContainerSection id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Code class="size-6" />
        Proyectos
      </h2>
      <Projects />
    </ContainerSection>
  </main>
</Layout>
