---
import { Image } from "astro:assets";
import oscaresteve from "../assets/foto-perfil-camisa.webp";
---

<article class="grid grid-cols-1 items-center gap-8 md:grid-cols-2">
  <div class="prose text-white/90">
    <p>
      Mi nombre es <span class="text-blue-300">Óscar Esteve</span>, tengo 22 años y vivo en Alzira, Valencia. Desde
      pequeño me ha interesado la tecnología y entender cómo funcionan las cosas. Esa curiosidad, me llevó a dedicarme
      al desarrollo web.
    </p>
    <p>
      He cursado los ciclos de <span class="text-blue-300">TSMR, DAM y DAW</span>, donde he adquirido una base sólida
      tanto en programación como en desarrollo de aplicaciones. Actualmente, mis principales tecnologías son
      <span class="text-blue-300">JavaScript, React, Angular y Tailwind CSS </span>. Aunque me interesa el desarrollo en
      general, la parte que más me motiva es el <span class="text-blue-300">frontend</span>, ya que me permite
      transformar las ideas en un producto final, funcional y centrado en ofrecer la mejor experiencia posible.
    </p>
    <p>
      Me considero una persona <span class="text-blue-300">proactiva</span>, con facilidad para aprender y siempre con
      ganas de seguir mejorando.
    </p>
  </div>
  <div class="mx-auto w-full max-w-sm md:justify-self-end">
    <Image
      src={oscaresteve}
      alt="Retrato de Óscar Esteve"
      class="h-auto w-full rounded-2xl object-cover shadow-lg"
      loading="lazy"
    />
  </div>
</article>
