---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente",
    job: "Desarrollador web",
    title: "GRUP APUNTS",
    description:
      "Actualmente realizo mis practicas como desarrollador web, colaborando en el desarrollo y mejora de soluciones digitales.",
  },
  {
    date: "2024 - 2024 (3 meses)",
    job: "Desarrollador web",
    title: "AELE, ARMARIOS LEVANTE",
    description:
      "Desarrolle el presupuestador web de la empresa, implementando herramientas de calculo y personalizacion de armarios para agilizar la elaboracion de presupuestos y mejorar la experiencia del cliente.",
  },
  {
    date: "2023 - 2023 (3 meses)",
    job: "Reponedor de Hipermercado",
    title: "CENTROS COMERCIALES CARREFOUR SA",
    description:
      "Atendi y asesore a clientes en la seccion de electrodomesticos, combinando tareas de venta, reposicion y control de inventario para garantizar una buena atencion y disponibilidad de producto.",
  },
];
---

<ol class="relative border-s border-white ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
