---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "February 2022",
    title: "Application UI code in Tailwind CSS",
    description:
      "Get access to over 20+ pages including a dashboard layout, charts, kanban, board, calendar, and pre-order E-commerce & Marketing pages.",
  },
  {
    date: "February 2022",
    title: "Application UI code in Tailwind CSS",
    description:
      "Get access to over 20+ pages including a dashboard layout, charts, kanban, board, calendar, and pre-order E-commerce & Marketing pages.",
  },
  {
    date: "February 2022",
    title: "Application UI code in Tailwind CSS",
    description:
      "Get access to over 20+ pages including a dashboard layout, charts, kanban, board, calendar, and pre-order E-commerce & Marketing pages.",
  },
];
---

<ol class="relative border-s border-white ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
