<header class="flex w-full fixed top-0 z-50 px-4">
  <nav
    class="flex mt-6 flex-row rounded-full w-sm mx-auto py-2 px-6 border justify-between border-white/10 backdrop-blur-sm"
  >
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#top">Inicio</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#proyectos">Proyectos</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#experiencia">Experiencia</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#sobre-mi">Sobre mí</a>
  </nav>
</header>
