<header class="flex justify-center items-center py-6 w-full mx-auto fixed top-0 z-50">
  <nav class="flex flex-row gap-x-10 rounded-full py-2 px-6 border border-white/10 backdrop-blur-sm">
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#top">Inicio</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#proyectos">Proyectos</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#experiencia">Experiencia</a>
    <a class="text-white/80 hover:scale-105 transition hover:text-blue-300" href="#sobre-mi">Sobre mí</a>
  </nav>
</header>
